<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registration</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/appStyle.css}" />
		
		<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/registration.js}"></script>
    </head>
    <body>
		<div class="container" align="center">
			<div class="alert alert-danger" id="dangerAlert" role="alert"></div>
				<input id="login" name="login" type="text"	class="form-control marginBottom" placeholder="Login" autofocus />
				<input id="newPassword" name="newPassword" type="password" class="form-control marginBottom"	placeholder="Password" />
				<input id="confirmPassword" name="confirmPassword" type="password" class="form-control marginBottom"	placeholder="Confirm password" />
				<button id="registerButton" class="btn btn-lg btn-primary btn-block marginBottom" onclick="sendRegistrationRequest()" type="submit">Register</button>
				<div class="alert alert-success" id="successAlert" role="alert">SUCCESS</div>
				<h4>
					<a th:href="@{/login}">Return to login</a>
			</h4>
		</div>
	</body>
</html>